# --- LaTeX files
*.aux
*.log
*.out
*.pdf
*.bbl
*.toc

# --- Python files
*.pyc

# --- LLVM files
*.bc

# --- Python coverage tool
.coverage
coverage_html

# --- Miscellaneous editor-specific files for back-up copies
*~
\#*

